Client/Service References/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Service?xsd=xsd1" namespace="http://smev.gosuslugi.ru/rev120315" />
      <xsd:import schemaLocation="http://localhost:8733/Service?xsd=xsd2" namespace="http://www.w3.org/2004/08/xop/include" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Request">
    <wsdl:part name="parameters" element="tns:TestRequest" />
  </wsdl:message>
  <wsdl:message name="Request_Headers">
    <wsdl:part xmlns:q1="http://smev.gosuslugi.ru/rev120315" name="Header" element="q1:Header" />
  </wsdl:message>
  <wsdl:message name="Response">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="Response_Headers">
    <wsdl:part xmlns:q2="http://smev.gosuslugi.ru/rev120315" name="Header" element="q2:Header" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DoWork" name="Request" message="tns:Request" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DoWorkResponse" name="Response" message="tns:Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IService/DoWork" style="document" />
      <wsdl:input name="Request">
        <soap:header message="tns:Request_Headers" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Response">
        <soap:header message="tns:Response_Headers" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>